#First{
// padding: 200px 0;
color: #fff!important;


.contents{
margin: 10px 0;
}

a
{
margin: 10px;
}
}

#Second{
background-color: #fff!important
;
margin-top: 10px;

}
#Third{
  .text-content{
    padding: 80px;
  }
}
img{
   max-width: 100%;
}

#Fourth{
h5 {
  margin: 20px;
}
img{
  max-height: 150px;
}

figcaption{
  padding: 20px;
}


}

